@model DigitalLib.Models.Autor

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Informações abaixo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome completo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Data de nascimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            Gênero
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>
</div>
<h4>Livros Escritos</h4>
<table class="table">
    <thead>
        <tr>
            <th>Título do Livro</th>
            <th>Data de publicação</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Livros.Count > 0)
        {
            @foreach (var aluguel in Model.Livros)
            {
                <tr>
                    <td>@aluguel.Titulo</td>                
               
                    <td>@aluguel.DataPublicacao.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>Não possui livros cadastrados</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
