@model DigitalLib.Models.Livro

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Informações abaixo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Título do livro
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            Data de publicação
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            Preço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            Nome do autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.Nome)
        </dd>
    </dl>
</div>
<h4>Alugueis relacionados</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nome do cliente</th>
            <th>Data de Empréstimo</th>
            <th>Data de Devolução</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Alugueis.Count > 0)
        {
            @foreach (var aluguel in Model.Alugueis)
            {
                <tr>
                    <td>@aluguel.Cliente.Nome</td>
                    <td>@aluguel.DataEmprestimo.ToShortDateString()</td>
                    <td>
                        @if (aluguel.DataDevolucao.HasValue)
                        {
                            @aluguel.DataDevolucao.Value.ToShortDateString()
                        }
                        else
                        {
                            <span>Não devolvido</span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
           <tr>
                <td>Ainda não possui alugueis.</td>
           </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
